//  colors
$color-body : #FFFFFF;
// $color-title : #242425;
$color-title: #45456b;
$color-lightPurple: rebeccapurple;
$color-lightGreen: #5CDB94;
$color-cartGreen: #cbffe2;
$color-lightGray: #EDF5E0;
$color-darkBlue: #05396B;
$color-cartOrange : #F45D45;
$color-lightOrange : #FFF4F1;
$color-lightBrown: #FCE8A1;
$color-cartBlue : #5B4EBB;
$color-cartPink: #ffc9e0;

// $bg-cartBlue : #FFF4F1;

// fonts-family
// $font-josefin : 'Josefin Sans', sans-serif;
// $font-lora: 'Lora', serif;
$font-sourceSerif : 'Lora', serif;
$font-varela: 'Varela Round', sans-serif;
$font-monoton : 'Monoton', 'cursive';
$font-roboto : 'Roboto', sans-serif;
$font-londrina: 'Londrina Outline', cursive;

// Font-sizes
$font-size-lg : 24px;

// breakpoints
$sm-768 : 768px;


:export {
	// whitecolor: $white-color;
	colorTitle: $color-title;
	colorLightPurple : $color-lightPurple;
	colorLightGreen : $color-lightGreen;
	colorLightGray : $color-lightGray;
	colorDarkBlue : $color-darkBlue;
	colorCartOrange : $color-cartOrange;
	colorLightOrange : $color-lightOrange;
	colorLightBrown : $color-lightBrown;
	colorCartBlue : $color-cartBlue;
	colorCartGreen : $color-cartGreen;
	colorCartPink: $color-cartPink;
	// lightcolor: $light-color;
	// mediumcolor: $medium-color;
	// alertcolor: $alert-color;
	// lightblackcolor: $light-black-color;
	// blackcolor: $black-color;
  }