:export {
  colorTitle: #45456b;
  colorLightPurple: rebeccapurple;
  colorLightGreen: #5CDB94;
  colorLightGray: #EDF5E0;
  colorDarkBlue: #05396B;
  colorCartOrange: #F45D45;
  colorLightOrange: #FFF4F1;
  colorLightBrown: #FCE8A1;
  colorCartBlue: #5B4EBB;
  colorCartGreen: #cbffe2;
  colorCartPink: #ffc9e0;
}

.FullArticlePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .FullArticlePage {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

/*******************
*
*
*	Article Page ends here
*
*
*******************/
.recentArticleWrapper {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin-top: 80px;
}

.recentArticleTitle {
  font-family: "Roboto", sans-serif;
  border-top: 2px solid #45456b;
  border-bottom: 2px solid #45456b;
  width: 80%;
  margin: 0 auto 5px auto;
  padding: 5px 5px;
  text-align: center;
  color: #45456b;
}

.recentArtileList {
  padding: 5px 15px;
  color: rebeccapurple;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 0.001em;
  cursor: pointer;
}

.recentArtileList:hover {
  color: #ff5050;
}

/*******************
*
*
*	RecentArticle Page ends here
*
*
*******************/
.fullArticleWrapper {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
  max-width: 1440px;
  margin: 0 auto;
}

@media (min-width: 480px) {
  .fullArticleContainer {
    padding: 0 5px;
  }
}

.fullArticleThumbnail {
  display: block;
  width: 100%;
  margin: 15px auto;
  height: 450px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fullArticleActionLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 15px;
}

.fullArticleActionBtn {
  display: inline-block;
  padding: 10px 2px;
  font-size: 26px;
  cursor: pointer;
}

.edit {
  color: #45456b;
}

.delete {
  color: #F45D45;
}

.fullArticleBody {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 10px;
}

@media (min-width: 658px) {
  .fullArticleBody {
    padding: 0 10px;
  }
}

@media (min-width: 768px) {
  .fullArticleBody {
    padding: 0 15px;
  }
}

.articleTitle {
  font-family: "Roboto", sans-serif;
  margin-top: 65px;
  padding-bottom: 10px;
  font-size: 30px;
}

@media (min-width: 480px) {
  .articleTitle {
    font-size: 36px;
  }
}

@media (min-width: 768px) {
  .articleTitle {
    font-size: 46px;
  }
}

@media (min-width: 991px) {
  .articleTitle {
    font-size: 52px;
  }
}

.authorDetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 5px 0 15px 0;
  color: rebeccapurple;
  font-size: 15px;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
  padding: 0 5px;
}

@media (min-width: 480px) {
  .authorDetail {
    padding: 0 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

.postedDate {
  width: 150px;
  padding-top: 15px;
}

@media (min-width: 480px) {
  .postedDate {
    padding-top: 0;
    text-align: center;
    border-bottom: 2px solid rebeccapurple;
  }
}

.fullArticle {
  font-family: "Lora", serif;
  letter-spacing: 0.001em;
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.932);
  border-radius: 5px;
  padding: 0 5px;
}

@media (min-width: 768px) {
  .fullArticle {
    font-size: 20px;
    line-height: 34px;
    padding: 15px 25px;
  }
}

.subSection {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  padding: 25px 0;
  font-size: 28px;
}

@media (min-width: 768px) {
  .subSection {
    font-size: 30px;
  }
}
