.headerTitles {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 90;
  top: 55%;
  width: 90%;
  padding-left: 15px;
}

.headerTitleLg {
  display: block;
  font-family: "Roboto", sans-serif;
  color: #45456b;
  font-weight: 900;
  font-size: 32px;
  line-height: 32px;
}

@media (min-width: 768px) {
  .headerTitleLg {
    font-size: 36px;
  }
}

.outlined {
  font-family: "Londrina Outline", cursive;
  font-size: 40px;
}

.headerDetail {
  font-family: "Roboto", sans-serif;
  color: #45456b;
  display: block;
  width: 80vw;
  padding-top: 20px;
  line-height: 20px;
}

@media (min-width: 480px) {
  .headerDetail {
    width: 50vw;
  }
}

.headerCTAButton {
  display: block;
  margin-top: 20px;
}

.headerCTAButton a {
  font-family: "Roboto", sans-serif;
  color: #45456b;
  font-weight: bolder;
  display: block;
  text-align: center;
  border-radius: 0 20px 20px 0;
  width: 140px;
  padding: 10px;
  background-color: #FCE8A1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.headerCTAButton a:hover {
  width: 180px;
  background-color: #45456b;
  color: #FFF4F1;
}

.headerImg {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
