* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navItemContainer {
  -webkit-box-shadow: 1px 1px 5px #45456b6c;
          box-shadow: 1px 1px 5px #45456b6c;
  width: 100%;
  font-family: "Varela Round", sans-serif;
  position: absolute;
  top: 0;
  z-index: 99;
}

.allNavItem {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  font-family: "Londrina Outline", cursive;
  font-size: 36px;
  font-weight: bold;
  color: #303036;
  padding: 5px 5px 5px 30px;
}

nav div span {
  font-size: 36px;
  color: rgba(255, 255, 255, 0.699);
  font-weight: bold;
}

.navLeft, .navRight {
  text-align: center;
}

@media (min-width: 768px) {
  .navLeft, .navRight {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
}

.navRight {
  position: absolute;
  top: 150px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

@media (min-width: 768px) {
  .navRight {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.navOpen {
  top: 368px;
  border-radius: 0px;
  width: 100%;
}

.navClosed {
  top: -200vh;
  width: 5%;
  border-radius: 999px;
}

.navCenter {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100vh;
  position: absolute;
  left: 50%;
  border-top: 3px solid #F45D45;
  padding-top: 200px;
  background-color: #FCE8A1;
  -webkit-transition: top 0.5s, border-radius 1.2s, width 1.5s;
  transition: top 0.5s, border-radius 1.2s, width 1.5s;
}

@media (min-width: 768px) {
  .navCenter {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
    font-weight: bold;
    font-size: small;
    background-color: rebeccapurple;
    height: 0;
    padding-top: 0;
    border-top: none;
  }
}

.navLinks {
  margin: 0 10px;
  padding: 8px 0;
  color: #45456b;
  font-size: 14px;
  display: block;
  text-align: center;
  font-weight: bold;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navLinks:hover {
  color: #F45D45;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (min-width: 768px) {
  .navLinks {
    padding: 0;
    display: inline-block;
  }
}

.modalContainer {
  position: static;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (min-width: 768px) {
  .modalContainer {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.562);
  }
}

.modalClose {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (min-width: 768px) {
  .modalClose {
    top: -200vh;
  }
}

.closeModalBtn {
  display: none;
}

@media (min-width: 768px) {
  .closeModalBtn {
    display: block;
    cursor: pointer;
    color: rebeccapurple;
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 5px 15px;
    font-weight: bold;
    border-radius: 5px;
  }
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 8px 10px;
  outline: 3px solid #05396B;
}

.searchForm {
  position: static;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .searchForm {
    background-color: #FFFFFF;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.searchInputField {
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  width: 260px;
  max-width: 85vw;
  height: 30px;
  background-color: #19171a;
  color: #EDF5E0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.searchButton {
  position: absolute;
  top: 15%;
  right: 2%;
  background: none;
  border: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .searchButton {
    color: #EDF5E0;
    top: 34%;
    right: 8%;
  }
}

.searchIcon {
  cursor: pointer;
  text-align: center;
  color: #EDF5E0;
}

@media (min-width: 768px) {
  .searchIcon {
    color: #45456b;
    background-color: #FFFFFF;
    padding: 5px 4px 4px 6px;
    border-radius: 50%;
    font-size: 20px;
  }
}

.searchButtonToggler {
  display: none;
}

@media (min-width: 768px) {
  .searchButtonToggler {
    display: block;
    height: 30px;
    width: 30px;
    padding-top: 5px;
    padding-left: 2px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: #45456b;
  }
}

.searchButtonToggler:hover span, .searchButtonToggler:hover {
  background-color: #EDF5E0;
  color: #45456b;
}

.searchButtonToggler span {
  color: #EDF5E0;
  font-size: 22px;
}

.burgerButtonContainer {
  display: block;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  width: 120px;
}

@media (min-width: 768px) {
  .burgerButtonContainer {
    display: none;
  }
}

.burgerpng {
  cursor: pointer;
  position: absolute;
  margin: 0 6vw;
  top: 50%;
  right: 0%;
  -webkit-transform: translate(-5%, -50%);
          transform: translate(-5%, -50%);
  transform: translate(-5%, -50%);
}

.burgerpng .line1,
.line2,
.line3 {
  background-color: #45456b;
  width: 28px;
  height: 4px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 5px 0 5px 65px;
}

@media (min-width: 480px) {
  .burgerpng .line1,
  .line2,
  .line3 {
    margin: 5px 0;
  }
}

.hamburger-btn-close .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger-btn-close .line2 {
  width: 0;
}

.hamburger-btn-close .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}
