:export {
  colorTitle: #45456b;
  colorLightPurple: rebeccapurple;
  colorLightGreen: #5CDB94;
  colorLightGray: #EDF5E0;
  colorDarkBlue: #05396B;
  colorCartOrange: #F45D45;
  colorLightOrange: #FFF4F1;
  colorLightBrown: #FCE8A1;
  colorCartBlue: #5B4EBB;
  colorCartGreen: #cbffe2;
  colorCartPink: #ffc9e0;
}

.profileUpdatewrapper {
  padding-top: 75px;
  min-height: 100vh;
  background-color: #DFF6E6;
}

.profileUpdateContainer {
  max-width: 1100px;
  margin: 0 auto;
}

.profileUpdateHeader {
  font-family: "Poppins", sans-serif;
  color: #070A09;
  text-align: center;
  line-height: 20px;
}

@media (min-width: 658px) {
  .profileUpdateHeader {
    font-size: 36px;
    line-height: 40px;
  }
}

.profileName {
  color: #5B4EBB;
}

.headerUnderline {
  display: block;
  width: 40%;
  height: 3px;
  background-color: #070A09;
  margin: 20px auto;
  max-width: 150px;
}

@media (min-width: 768px) {
  .headerUnderline {
    margin: 10px auto;
    width: 20%;
    max-width: 150px;
  }
}

.profileFormGroup {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 5px;
}

@media (min-width: 658px) {
  .profileFormGroup {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px;
    height: 75vh;
  }
}

.profileUpdateImage {
  border-radius: 50%;
  border: 4px solid #45456b;
  height: 65vw;
  width: 65vw;
}

@media (min-width: 658px) {
  .profileUpdateImage {
    height: 45vw;
    width: 45vw;
    max-height: 400px;
    max-width: 400px;
  }
}

.imgUploaderLabel {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: #45456b;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.imgUploaderLabel::after {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -2;
  width: 0px;
  height: 0px;
}

.imgUploaderLabel:hover {
  color: #EDF5E0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.imgUploaderLabel:hover::after {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #45456b;
}

.uploadImgIcon {
  font-size: 34px;
}

.imageUploader {
  display: none;
}

.profileInfo {
  font-family: "Poppins", sans-serif;
  color: #5B4EBB;
  font-weight: bold;
  padding: 10px;
}

.inputCred {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 20px;
  height: 45px;
  color: #070A09;
  background-color: #DFF6E6;
  max-width: 85vw;
  width: 90%;
  max-width: 768px;
  padding: 5px 15px;
  border: none;
  margin: 10px 0;
  border-bottom: 2px solid gray;
}

.inputCred:focus {
  outline: 0;
  -webkit-box-shadow: -3px 0 0 #5B4EBB;
          box-shadow: -3px 0 0 #5B4EBB;
  border-radius: 5px;
}

.updateButton {
  margin: 25px 0;
  padding: 10px 30px;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  background-color: #5B4EBB;
  font-size: 15px;
  color: #EDF5E0;
  border-radius: 3px;
  border: none;
  display: block;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.updateButton:hover {
  background-color: #05396B;
  color: #EDF5E0;
}

@media (min-width: 658px) {
  .profileUpdateForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .left {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 1440px) {
  .right {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-right: 90px;
  }
  .imgUploaderLabel {
    margin-right: 132px;
  }
}
