@import './partials/variables'; 
@import './partials/reusable';
@import './partials/breakpoints';

*{
	margin: 0;
	padding: 0;  
	text-decoration: none;
	box-sizing: border-box;
}

.navItemContainer{
	// background-color: $font-cartBlue;	
	// background-color: $color-lightPurple;	
	// color: $color-lightGray;
	box-shadow: 1px 1px 5px #45456b6c;
	width: 100%;
	font-family: $font-varela;
	position: absolute;
	top: 0;
	z-index: 99;
}
.allNavItem{
	@include relative;
	// position: relative;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
}
nav div{
	
	// font-weight: 600;
}
.logo{
	// font-family: $font-monoton;
	font-family: $font-londrina;
	// font-size: x-large;
	font-size: 36px;
	font-weight: bold;
	color: rgb(48, 48, 54);
	padding: 5px 5px 5px 30px;
}
nav div span{
	font-size: 36px;
	color: rgba(255, 255, 255, 0.699);
	// color: rgb(48, 48, 54);
	// font-size: large;
	font-weight: bold;
}
.navLeft, .navRight{
	// flex: ;
	text-align: center;
	@include md {
			flex: 3;
	}
	// background-color: brown;
}
.navRight{
	position: absolute;
	top: 150px;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: bold;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
	transition: 0.8s;
	@include md{
		position: static;
		flex-direction: row;
		transform: translate(0,0);
	}
	
}
.navOpen{
	top: 368px;
	border-radius: 0px;
	width: 100%;
}
.navClosed{
	top: -200vh;
	width: 5%;
	border-radius: 999px;

}
.navCenter{
	transform: translate(-50%, -50%);
	// width: 100%;
	height: 100vh;
	position: absolute;
	left: 50%;
	border-top: 3px solid $color-cartOrange;
	padding-top: 200px;
	// background-color: $color-title;
	background-color: $color-lightBrown;
	transition: top 0.5s, border-radius 1.2s, width 1.5s;
	// transition: 0.8s;
	@include md{
		position: static;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: translate(0,0);
		flex: 6;
		font-weight: bold;
		font-size: small;
		background-color: rebeccapurple;
		height: 0;
		padding-top: 0;
		border-top: none;
	}
}
.navLinks{
	margin: 0 10px;
	padding: 8px 0;
	color: $color-title;
	font-size: 14px;
	// color: black;
	display: block;
	text-align: center;
	font-weight: bold;
	// text-decoration: none;
	transition: 0.2s;
	&:hover{
		color: $color-cartOrange;
		transition: 0.2s;
	}
	@include md{
		padding: 0;
		display: inline-block;
	}
}
.modalContainer{
	position: static;
	transition: 0.5s;
	@include md{
		transition: 0.5s;
		position: absolute;
		// display: none;
		z-index: 1000;
		top: 0;
		right: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.562);
	}
}
.modalClose{
	transition: 0.5s;
	@include md{
		top: -200vh;
	}
}
.closeModalBtn{
	display: none;
	@include md{
		display: block;
		cursor: pointer;
		color: $color-lightPurple;
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translate(-50%,-50%);
		padding: 5px 15px;
		font-weight: bold;
		border-radius: 5px;
	}
}
.profileImage{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 8px 10px;
	outline: 3px solid $color-darkBlue;
}
.searchForm{
	position: static;
	transform: translate(0%,0%);
	transition: 0.5s;
	border-radius: 10px;
	@include md{
		background-color: $color-body;
		padding: 30px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
}
.searchInputField{
	border: none;
	border-radius: 20px;
	padding: 5px 10px;
	width: 260px;
	max-width: 85vw;
	height: 30px;
	background-color: #19171a;
	color: $color-lightGray;
	transition: 0.5s;
}
.searchButton{
	position: absolute;
	top: 15%;
	right: 2%;
    background: none;
    border: none;
	cursor: pointer;
	@include md{
		color: $color-lightGray;
		top: 34%;
		right: 8%;
	}
}
.searchIcon{
	cursor: pointer;
	text-align: center;
	color: $color-lightGray;
	@include md{
		color: $color-title;
		background-color: $color-body;
		padding: 5px 4px 4px 6px;
		border-radius: 50%;
		font-size: 20px;
	}
}
.searchButtonToggler{
	display: none;
	@include md{
		display: block;
		height: 30px;
		width: 30px;
		padding-top: 5px;
		padding-left: 2px;
		border-radius: 50%;
		border: none;
		cursor: pointer;
		background-color: $color-title;
		// color: $color-lightGray;
	}
	&:hover span,&:hover{
			background-color: $color-lightGray;
			color: $color-title;
		}
// 		&:hover .searchInputField{
// 				padding: 5px 10px;
// 				width: 260px;
// 		}
// 	}
}
.searchButtonToggler span{
	color: $color-lightGray;
	font-size: 22px;
	
}


// @include md {
	.burgerButtonContainer{
		// position: relative;
		display: block;
		flex: 3;
		width: 120px;
		@include md{
			display: none;
		}
	}
	
	.burgerpng {
		cursor: pointer;
		position: absolute;
		margin: 0 6vw;
		top: 50%;
		right: 0%;
		transform: translate(-5%, -50%);
		transform: translate(-5%, -50%);
	  }
	  .burgerpng .line1,
	  .line2,
	  .line3 {
		background-color: $color-title;
		width: 28px;
		height: 4px;
		transition: all 0.5s ease;
		margin: 5px 0 5px 65px;
		@include sm{
			margin: 5px 0;
		}
	  }
	  .hamburger-btn-close .line1 {
		transform: rotate(-45deg) translate(-5px, 6px);
		// background-color: $color-lightGray;
	}
	.hamburger-btn-close .line2 {
		width: 0;
		// background-color: $color-lightGray;
	}
	.hamburger-btn-close .line3 {
		transform: rotate(45deg) translate(-5px, -6px);
		// background-color: $color-lightGray;
	  }

// }