@import './partials/reusable';
@import './partials//variables';
@import './partials/breakpoints';


.postWrapper{
	width: 100%;
	padding: 10px 10px;
	
	@include sm{
		width: 50%;
		padding: 10px 5px;
	}
	@include md{
		width: 33.33%;
	}
	// height: 450px;
	// background-color: red;
	// border: 2px solid black;
	// padding: 10px;
	// background-color: orchid;
}
.postContainer{
	border-radius: 20px;
	// font-family: $font-roboto;
	font-family: $font-roboto;
	outline: 1px solid rgba(128, 128, 128, 0.301);
	box-shadow: 0px 3px 5px  #c0c0b0;
	transition: 0.2s;
	overflow: hidden;
	cursor: default;
	&:hover{
		transform: scale(1.04);
		transition: 0.2s;
		// img{
		// 	transform: scale(1.04);
		// 	transition: 0.2s;
		// }

	}
}
.postDescription{
	padding: 5px 10px;
	// height: 250px;
	
}
.postCategory{
	// font-family: $font-lora;
	display: inline-block;
	color:gray;
	font-size: 12px;
	font-weight: bold;
	// background-color: $color-darkBlue;
	border: 1px solid gray;
	border-radius: 20px;
	padding: 1px 8px;
	margin-right: 5px; 
	margin-bottom: 5px;
}
.postTitle{
	// font-family: $font-roboto;
	padding: 5px 0;
	// height: 102px;
	height: fit-content;
	@include sm{
		display: flex;
		align-items: center;
		height: 120px;
		// background-color: red;
	}
	@include lg{
		height: 80px;

	}
}
// .postTitle span{
// 	@include sm{
// 		display: inline;
// 		vertical-align: middle;
// 		background-color: red;
// 	}
//  }

.authorInfoContainer{
	display: flex;
	justify-content: space-between;
	margin: 5px 0 10px 0;
	color: $color-lightPurple;
	font-size: 12px;
	font-weight: bold;
}
.postAuthor{
	font-family: $font-varela;
	padding: 1px 0;
	// background-color:palegreen;
	// padding: 5px 0;
	// border-bottom: 1px solid $color-title;
	// border-bottom: 1px solid $color-lightBrown;
	// display: inline-block;
}
.uploadDate{
	font-family: $font-varela;
	background-color: $color-lightGreen;
	border-radius: 20px;
	padding: 1px 5px;
	// border-bottom: 1px solid $color-lightBrown;
}
.postThumbnail{
	// width: 120px;
	border-radius: 20px 20px 0 0;
	display: block;
	width: 100%;
	height: 250px;
	margin: 0 auto;
}
.postShortDescription{
	// font-family: $font-varela;
	font-family: $font-poppins;
	letter-spacing: 0.001em;
	font-size: 13.5px;
	height: fit-content;
	@include sm{
		height: 120px;
	}
	@include lg{
		height: 100px;

	}
}
.readMoreLink{
	display: block;
	padding: 5px 0;
}
.readButton{
	background-color: $color-darkBlue;
	// background-color: $color-lightGreen;
	color: $color-body;
	// border: 2px solid $color-title;
	text-align: center;
	display: block;
	width: 180px;
	margin: 15px auto 0 auto;
	// height: 90px;
	padding: 10px;
	border-radius: 20px;
	transition: 0.3s;
	font-weight: bold;
	&:hover{
		background-color: $color-cartBlue;
		color: $color-paste;
		transition: 0.3s;
	}
}
